* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

.carousel-img {
  height: 50vh;
  width: 100%;
}

.carousel {
  display: flex;
}

.img {
  height: 20rem;
  width: 100%;
}
